<!DOCTYPE html>
<html>
<head>
  <title>MyPortfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body class="prose mx-auto">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% unless current_page?(root_path) %>
    <div>
      <%= link_to 'Home', root_path %>
      <%= link_to 'About Me', about_me_path %>
      <%= link_to 'Portfolio', portfolio_path %>
      <%= link_to 'Blog', blog_path %>
      <% if admin_signed_in? %>
        <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
      <% end %>
    </div>
  <% end %>
  <%= yield %>
</body>
</html>
